img:hover{
  box-shadow: 0 3px 16px 0 white;
}
.btn:hover {
  background-color: white;
  color: white;
  box-shadow: 0 3px 16px 0 white;
}

.card-body{
  /* background: rgb(240, 128, 128); */
  background: black;

  box-shadow: 0 3px 16px 0 white;
}

/* 
$(grid).ready(function(){
  $('img').load(function(){
      $(".content_photo").masonry();
  });
  $(".content_photo").masonry();
}) */
