img:hover{
  box-shadow: 0 3px 16px 0 white;
}
.btn:hover {
  background-color: crimson;
  color: white;
  box-shadow: 0 3px 16px 0 black;
}

.card-body{
  background:rgb(240, 128, 128);
  box-shadow: 0 3px 16px 0 crimson;
}
