.card-body{
  background:crimson;
  box-shadow: 0 3px 16px 0 crimson;
}

.btn:hover {
  background-color: crimson;
  color: white;
  box-shadow: 0 3px 16px 0 black;
}
.button1 {
background-color: crimson;
color: black;
border: 2px solid crimson;
/* box-shadow: 0 8px 16px 0 crimson; */
}

.button1:hover {
background-color: crimson;
color: white;
box-shadow: 0 3px 16px 0 white;
}

.dwnld{
  color: black;
}
