.manu:hover{text-shadow: .4rem .05rem 3rem rgba(249, 83, 83)}
.twitter:hover{text-shadow: .4rem .05rem 3rem rgba(114, 173, 205)}
.whale:hover{text-shadow:.4rem .05rem 3rem rgba(78, 146, 150)}
.lflare:hover{text-shadow:.4rem .05rem 3rem orange}

.btn:hover {
  background-color: pink;
  color: white;
  box-shadow: 0 3px 16px 0 black;
}

.card-body{
  background:pink;
  box-shadow: 0 3px 16px 0 pink;
}
